<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/user.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/create_question.css"/>

<title><%= @question.content  %></title>

<body>

<div class="container">
  <br>
  <h1><%= @question.content  %></h1>
  <p><em>Rating: <%= @question.average_rating ? @question.average_rating.round(2) : '-' %> </em></p>

<% if current_user.tests.empty? == false %>
  <div>
    <label for="add_q_to_test">Add this question to one of your existing tests:</label>
      <form method = "post" action = "/question-selections">
      <input type="hidden" name="questions[<%=@question.id%>" value ="<%=@question.id%>">
        <select class="corral" id="user_tests" name="test_id">
          <% current_user.tests.each do |test| %>
                <option value="<%= test.id %>"><%= test.name %></option>
          <% end %>
        </select>
        <br>
        <button class="add_q_to_test, button" type="submit"> Add</button>
      </form>
  </div>
<% end %>

  <% unless @question.image == "" || @question.image == nil %>
    <img src="<%= @question.image %>" alt="Question <%= @question.id %>'s attachment">
  <% end %>

       <ul>
        <% @question.answers.each do |answer| %>
          <li><%= answer.content %> (<%= answer.correct %>)</li>
        <% end %>
      </ul>

      <h4>Tags:</h4>
      <ul>
        <% @question.question_tags.each do |qt_combination| %>
          <li><a href="../tags/<%= qt_combination.tag_id.to_i %>"><%= Tag.find(qt_combination.tag_id.to_i).name %></a></li>
        <% end %>
      </ul>

  <p><em><small>posted by <%= @user.name %> at <%= @question.created_at %>
        <% if current_user && @question.user_id == current_user.id %>
        <a href="/questions/<%= @question.id %>/delete">(delete question)</a>
      <% end %>
     </small></em></p>

   <% if current_user %>
    <% if current_user.ratings.where(question_id: @question.id) != [] %>
      <p>You've already rated this question.</p>
    <% else %>
      <%= erb :'ratings/new' %>
    <% end %>
   <% else %>
    <p>You have to be logged in to access this page!</p>
   <% end %>

  <% if @question.ratings != [] %>
    <h3>Ratings for this question:</h3>
    <% @question.ratings.each do |rating| %>
      <div class="rating">
          <p class="timestamp"><small><em><%= rating.created_at %></em></small></p>
          <p><strong>Posted by:</strong> <%= User.find_by_id(rating.user_id).name %></p>
          <% if current_user && rating.user_id == current_user.id %>
            <p class="delete_rating"><a href="/ratings/delete/<%= rating.id %>">(delete)</a></p>
          <% end %>
          <% if rating.value %>
            <% rating.value.times do %>
              <i class="fa fa-star" style="color: #FFDF88"></i>
            <% end %>
            <% (5 - rating.value).times do %>
              <i class="fa fa-star-o" style="color: #FFDF88"></i>
            <% end %>
          <% end %></p>
          <br>
      </div>
   <% end %>
   <hr/></hr>
   <% else %>
    <p>No ratings yet.</p>
    <hr/></hr>
   <% end %>

  <hr/>
  </hr>

      <h4>Other questions from this user:</h4>
    <% @other_questions_from_this_user.each do |question| %>
      <div class="question">
        <p><a href="/questions/<%= question.id %>"><%= question.content %></a> <em><small>posted by <%= @user.name  %> at <%= @question.created_at  %></small></em></p>
        </p>
      </div>
    <% end %>


</body>
