<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/user.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/create_question.css"/>

<title><%= @test.name %>: Results</title>

<body>

<div class="container">


<% if current_user %>

<div>
<<<<<<< HEAD
  <h1 class="blue">
    All Candidates Results for <em> <%=@test.name%></em> :
=======
  <h1>
    Results for <em> <%=@test.name%></em>:
>>>>>>> 2c30929ee5d3121be6eea66a5f4160fe28077ba0
  </h1>
  <% @all_test_results.each do |result| %>
	 <h2><a href="/tests/<%=@test.id%>/test_results/<%=result.id %>"><%=result.candidate_name%>: </a>
    <%=result.candidate_score * 100%>%</h2>
	<% end %>
</div>

  <% if @candidate %>
<<<<<<< HEAD
  <br>
  <h2><strong>  Current candidate result:</strong> </h2>
    <div class="result">
=======
  <hr>
<!--   <h4><strong>  Current candidate result:</strong> </h4> -->
    <div>
>>>>>>> 2c30929ee5d3121be6eea66a5f4160fe28077ba0
      <%= erb :'test_results/show'%>
    </div>
  <% end %>

<% else %>
  <h1> Not authorized. </h1>
<% end %>

</div>
</body>



